@import './variables';

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

section {
  h2 {
    color: $primary-text;
    letter-spacing: 2px;
  }
  .subtitle {
    line-height: 1.8rem;
    color: $secondary-text;
  }
}